packages/Newtonsoft.Json.6.0.6/lib/net35/Newtonsoft.Json.xml
VBot.v12.suo
packages/Newtonsoft.Json.6.0.6/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.6/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.6/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.6/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.6/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.6/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.6/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.6/Newtonsoft.Json.6.0.6.nupkg
packages/Newtonsoft.Json.6.0.6/tools/install.ps1
packages/repositories.config
VBot.v12.suo
VBot.v12.suo
VBot/bin/Debug/Newtonsoft.Json.dll
VBot/bin/Debug/Newtonsoft.Json.xml
VBot/bin/Debug/VBot.exe
VBot/bin/Debug/VBot.exe.CodeAnalysisLog.xml
VBot/bin/Debug/VBot.exe.config
VBot.v12.suo
VBot/bin/Debug/VBot.exe.lastcodeanalysissucceeded
VBot/bin/Debug/VBot.vshost.exe
VBot/bin/Debug/VBot.pdb
VBot/bin/Debug/VBot.vshost.exe.config
VBot/bin/Debug/VBot.vshost.exe.manifest
VBot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VBot/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
VBot/obj/Debug/VBot.csproj.FileListAbsolute.txt
VBot/obj/Debug/VBot.csproj.GenerateResource.Cache
VBot/obj/Debug/VBot.csprojResolveAssemblyReference.cache
VBot/obj/Debug/VBot.exe
VBot/obj/Debug/VBot.frmMain.resources
VBot/obj/Debug/VBot.pdb
VBot/obj/Debug/VBot.Properties.Resources.resources
VBot/packages.config
VBot.v12.suo